<html>
  <body>
    <div class="ui-page" deviceName="web" deviceType="desktop" deviceWidth="1024" deviceHeight="768">
         <div id="t-f39803f7-df02-4169-93eb-7547fb8c961a" class="template growth-both devWeb canvas firer commentable non-processed" alignment="left" name="Kiendi taust" width="1024" height="768">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1579450858412.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1579450858412-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1579450858412-ie8.css" /><![endif]-->
           <div id="t-Image_2" class="pie image firer ie-background commentable non-processed"   datasizewidth="1009px" datasizeheight="823px" dataX="10" dataY="10"   alt="image">
               <img src="./images/5a26afda-12ae-46fc-9e78-dfaf1d3a4474.png" />
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>